<!-- Banner -->
  <section id="banner">
    <div class="content">
      <header>
        <h1>Health Care Procedure Coding System</h1>
        <p>A Tool to Assist Government Acquisition Professionals with the Identification of HCPCS Codes</p>
      </header>
      <p>
        The Health Care Procedure Coding System (HCPCS) is a standardized coding system used by the 
	health care industry to identify and classify medical products, supplies, and services, such as
	ambulance services and durable medical equipment, prosthetics, orthotics, and supplies.
      </p>
      <ul class="actions">
        <li><a href="about.html" class="button big">Learn More</a></li>
      </ul>
    </div>
    <span class="image object">
	    <!-- <img src="assets/images/pic10.jpg" alt="" /> -->
	    <img src="assets/images/vladimir-kudinov-0ODbBrJvq3k-unsplash.jpg" alt="" />
    </span>
  </section>
